# Git & Hooks
.git/
.gitignore
.gitattributes
.pre-commit-config.yaml

# Python & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*
*.pem
*.key

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local Data & Logs
data/
*.log

# Project Documentation, Configs & IaC
docs/
README.md
Taskfile.yml
docker-compose.yml
docker-compose.*.yml
infrastructure/

docker/
!docker/**/requirements.txt
Dockerfile*
.dockerignore

# Testing & Jupyter
tests/
notebooks/
*.ipynb
.ipynb_checkpoints/

# Go (API) Caches & Binaries
vendor/
bin/
*.exe

# Rust (Validator)
src/validator/target/
**/*.rs.bk
