# Git & Hooks
.git/
.gitignore
.pre-commit-config.yaml

# Python & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Local Data & Logs
data/
*.log

# Project Documentation & Configs
docs/
README.md
Taskfile.yml
docker-compose.yml
k8s/

# Testing & Jupyter
tests/
notebooks/
*.ipynb
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db