# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Local Data & Logs
data/
*.log

# OS
.DS_Store
