# Environments
.venv/
env/
venv/

# Python Cache & Tooling
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.mypy_cache/

# Security & Configurations
.env

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Taskfile Cache
.task/

# Data (Raw and Processed)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Machine Learning Artifacts
models/*.onnx
models/*.joblib
models/*.pkl
models/*.h5
!models/.gitkeep

# Jupyter/Notebooks
.ipynb_checkpoints/

# Logs
logs/*.log
!logs/.gitkeep

# Testing & Coverage
.coverage
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*,cover