# Environments & Secrets
.venv/
env/
venv/
.env
.env.*
!.env.example
*.pem
*.key

# Python Cache & Tooling
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.mypy_cache/

# Go Cache & Build Artifacts
vendor/
bin/
*.exe
*.test
*.out

# Rust Cache & Build Artifacts
/src/validator/target/
**/*.rs.bk

# Data & ML Artifacts
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*
!models/*.onnx
!models/*.joblib
!models/.gitkeep

# Infrastructure
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

**/charts/
*.tgz

.infracost/

# Logs, Tests & Jupyter
logs/*.log
!logs/.gitkeep
*.log
.coverage
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml
*,cover
.ipynb_checkpoints/

# IDEs, OS & Taskfile
.vscode/
.idea/
.DS_Store
Thumbs.db
.task/
.docker/

# AI reports
agent/doc/weekly_report_*.md
